<div class="row">

{{#each displayGames as |game|}}
  <div class="col-md-4">
    {{game-card
      game=game
      filterTag="filterTag"
      toggleStar=(action toggleStar)
      toggleHide=(action toggleHide)
    }}
  </div>
{{/each}}
</div>
