<div class="row">
{{#each games as |game|}}
    <div class="col-md-4">
        {{game-card
            game=game
            filterTag="filterTag"
            toggleStar="toggleStar"
            toggleHide="toggleHide"
        }}
    </div>
{{/each}}
</div>
