body {
    font-size: 16px;
    color: #ffffff;
    background: #34495e;
}

.players-icon {
    font-size: 24px;
}

.description {
    margin-bottom: 10px;
}

.short {
    height: 4em;
    overflow: hidden;
}

.tags.short {
    height: 3.5em;
}

.links {
    padding-top: 10px;
    font-weight: bold;
}

.expand {
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    display: inline-block;
    float: right;
    margin-top: -25px;
}

.filter {
    margin-bottom: 5px;
}

.filter h4 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    font-weight: normal;
}

.filter h4.inline {
    dislay: inline-block;
}

.sidebar {
    padding: 0 10px;
}

.label {
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
}

.tags .label {
    cursor: pointer;
}

.game-card.short {
    height: 425px;
}

.game-card .header {
    margin-bottom: 10px;
    font-size: 18px;
}

.game-card .header .name {
    width: 90%;
    height: 2.5em;
}

.game-card h3, .game-card .players {
    height: 2em;
    margin-top: 0;
    margin-bottom: 0px;
    vertical-align: middle;
    display: table-cell;
}

.game-card h2 {
    font-size: 18px;
}

.game-card img {
    width: 100%;
}

.filter-header {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.filter {
    margin-bottom: 20px;
}

.btn-primary.active, .btn-primary.active.focus, .btn-primary.toggle-on {
    color: #aaffaa;
}

#tagSelect {
    width: 95%;
    font-size: 14px;
}

.select2 {
    font-size: 0.8em;
}

.select2-container--default .select2-selection--multiple {
    background-color: #1c1e22;
    color: #fff;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #3a3f44;
}

.select2-dropdown {
    background-color: #8a9196;
    color: #fff;
    font-size: 0.8em;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #8a9196;
    color: #aaffaa;
}

.starred {
    color: #f1c40f;
}

.hidden-games .row .star {
    display: none;
}

.hidden-games .tags .label {
    cursor: default;
}

.loading {
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 200px;
    font-size: 72px;
    color: #aaffaa;
}
