body {
    font-size: 16px;
    color: #ffffff;
    background: #34495e;
}

.players-icon {
    font-size: 16px;
}

.description {
    margin-bottom: 10px;
}

.short {
    height: 4em;
    overflow: hidden;
}

.tags {
    width: 95%;
}

.tags.short {
    height: 3.5em;
}

.links {
    padding-top: 10px;
    font-weight: bold;
}

.expand {
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    display: inline-block;
    float: right;
    margin-top: -25px;
}

.filter {
    margin-bottom: 5px;
}

.filter h4 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    font-weight: normal;
}

.filter h4.inline {
    dislay: inline-block;
}

.sidebar {
    padding: 0 10px;
}

.label {
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
}

.tags .label {
    cursor: pointer;
}

.game-card.short {
    height: 425px;
}

.game-card .header {
    margin-bottom: 10px;
    font-size: 18px;
}

.game-card .header .name {
    width: 85%;
    height: 2.8em;
    overflow-y: hidden;
}

.game-card .header .players {
    width: 12%;
    height: 2.5em;
}

.game-card h3, .game-card .players {
    height: 2em;
    margin-top: 0;
    margin-bottom: 0px;
    vertical-align: middle;
    display: table-cell;
}

.game-card h2 {
    font-size: 18px;
}

.game-card img {
    width: 100%;
}

.filter-header {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.filter {
    margin-bottom: 20px;
}

.btn-primary.active, .btn-primary.active.focus, .btn-primary.toggle-on {
    color: #aaffaa;
}

.ember-power-select-trigger {
    background-color: #1c1e22;
    color: #fff;
}

.ember-power-select-option, .ember-power-select-option[aria-current="true"] {
    background-color: #3a3f44;
    color: #fff;
    font-size: 0.8em;
}

.ember-power-select-multiple-option {
    background-color: #3a3f44;
    color: #ffffff;
    font-size: 0.8em;
}

.starred {
    color: #f1c40f;
}

.hidden-games .row .star {
    display: none;
}

.hidden-games .tags .label {
    cursor: default;
}

.loading {
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 200px;
    font-size: 72px;
    color: #aaffaa;
}

.hidden-link {
  margin-top: 3em;
  font-size: 0.7em;
}
