<div class="container hidden-games">
  <div class="row">
    <h1>{{filteredGames.length}} hidden games</h1>
  </div>
  <div class="row">
    {{games-list
      games=filteredGames
      toggleHide=(action "toggleHide")
    }}
  </div>
  {{#unless filteredGames.length}}
  No hidden games.
  {{/unless}}
</div>
{{outlet}}
