<div id="wrapper">
  <div id="sidebar-wrapper" class="sidebar">
    {{filter-bar
      filterTag=(action "selectTags")
      games=filteredGames
      tags=topTags
      filters=filters
    }}
  </div>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        {{games-list
          games=filteredGames
          filterTag=(action "clickTag")
          toggleStar=(action "toggleStar")
          toggleHide=(action "toggleHide")
        }}
      </div>
    </div>
  </div>
</div>
